.products-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subCategory {
  width: 150px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
